*{
    margin: 0;
    padding: 0;
    position: relative;
}



body{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

section{
    background-color: red;
    position: absolute;
    width: 35vw;
    height: 50vh;
    top: 20vh;
    left: 25vw;
    margin: 0;
    padding: 0;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section > input {
    display: block;
}
div > input{
    display:block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 20%;
    height: 20%;
 }