* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#9d9d9d, #ffffff);
    font-family: arial, helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 50vw;
    height: 80vh;
    top: 10vh;
    left: 40vw;
}

section > input {
    width: 50%;
    display: block;
    text-align: center;
    font-family: 'Poiret One', cursive;;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 2.5em;
    letter-spacing: 0.2em;
    color: #616161;
    border: 1px solid #000000;
    border-radius: 30px;
    cursor: pointer;
}

div > input{
    width: 50%;
    display:block;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 2.5em;
    letter-spacing: 0.2em;
    color: #616161;
    border: 1px solid #000000;
    border-radius: 30px;
    cursor: pointer;
}

.container {
    width: 50vw;
    position: relative;
    margin-left: 50%;
}

.image {
    width: 20vw;
    height: 40vh;
    margin-left: 10%;
 }

 .submit {
    width: 50%;
    display:block;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 2.5em;
    letter-spacing: 0.2em;
    color: #616161;
    border: 1px solid #000000;
    border-radius: 30px;
    cursor: pointer;
 }


.inside {
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    display:block;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 2.5em;
    letter-spacing: 0.2em;
    color: #616161;
    border: 1px solid #000000;
    border-radius: 30px;
    cursor: pointer;
}

 .hide {
     display: none;
     z-index: -1;
 }

