*{
    margin: 0;
    padding: 0;
    position: relative;

}

body{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

div{
    background-color: red;
    position: absolute;
    width: 35vw;
    height: 20vh;
    top: 40vh;
    left: 16.25vw;

}

.container{

    /*width: 35vw;*/
    /*height: 5vh;*/


}