@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Alegreya Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 15vh;
    width: 100%;
    min-width: 400px;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
}

header * {
    display: flex;
    color: #000;
    font-size: 3vh;
    margin: 8px;
    text-decoration: none;
}


.topBarButtons > a {
    flex-direction: column;
    text-align: center;
}

.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
}

.nav a {
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ccc;
}

.nav a:hover {
    color: #fff;
    transition: 0.4s;
}

.nav .close {
    position: absolute;
    top: 0;
    right: 22px;
    margin-left: 50px;
    font-size: 30px
}

img {
    max-width:100%;
    max-height:100%;
}

#content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.card-container {
    background-color: #03bfcb;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
}

.card-container .round {
    border: 2px dashed red;
    border-radius: 50%;
    padding: 7px;
}

.skills {
    background-color: #03bfcb;
    text-align: left;
    padding: 15px;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    border: 1px solid #2d2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
}

#hamburgerMenu {
    margin-right: 150px;
}

.skills h6 {
    margin-top: 8px;
}

.students {
    display: flex;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
    background-color: blue;


}

.store {
    background-color: blueviolet;
    display: none;

}

.quests{
    background-color: darkcyan;
    display: none;
}


.wholeSearch{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.search {
    margin: 0.5em 0;
    height: 80%;
    width: 50%;
    display: block;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 2.5em;
    letter-spacing: 0.2em;
    color: #616161;
    border: 1px solid #000000;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button{
    margin: 1em 0;
    height: 80%;
    width: 20vw;
    display:block;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 2.5em;
    letter-spacing: 0.2em;
    color: #616161;
    border: 1px solid #000000;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
