@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

body {
	font-family: 'Alegreya Sans', sans-serif;
	overflow-x: hidden;
	margin: 0;
}

header {
	display: flex;
	height: 10vh;
	width: 100%;
	background-color: gray;
	justify-content: center;
	align-items: center;
}

.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
}

.nav a {
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-decoration: none;
	color: #ccc;
}

.nav a:hover {
	color: #fff;
	transition: 0.4s;
}

.nav .close {
	position: absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px
}

header > * {
	color: #000;
	font-size: 36px;
	margin: 8px;
}

header > #hamburgerMenu {
	position: absolute;
	left: 8px;
}

header > #signOut {
	position: absolute;
	right: 2vw;
}

header > #user {
	position: absolute;
	right: 10vw;
}

header > #image {
	width: 12vw;
	height: 12vh;
}

#content {
	margin: 8px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
}